<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>{{ channel.title }}</title>
  <description> 
    <!DOCTYPE html>
    <html>
      <head>
        <title> {{ channel.title }} </title>
      </head>
      <body>
        <h1> {{ channel.title }} </h1>
        <p> {{ channel.desc }} </p>
      </body>
    </html>
  </description>
  <link>{{ channel.link }}}</link>
  <language>{{ channel.language }}</language>
  <copyright>{{ channel.copyright }}</copyright>
  <image>
    {#
      This is the standard offical RSS feed icon.
      The official size limits are pretty small so think icon more than poster.
    #}
    <url>http://localhost:8080/ipfs/QmdhW3UzaAravidM1ZFKrKcVNNLjS9DFFMpaFGYb31mpLh</url>
    <title> {{ channel.title }} </title>
    <link> {{ channel.link }} </link>
  </image>
  <generator>ipfspod 0.1</generator>
  <lastBuildDate>{{ now }}</lastBuildDate>
  <pubDate>{{ now }}</pubDate>
  <ttl>{{ channel.ttl }}</ttl>

  {% for episode in episodes %}
  <item>
    <title>{{ episode.title }}</title>
    <author>{{ episode.author }}</author>
    {% for category in episode.categories %}
      <category>{{ category }} </category>
    {% endfor %}
    <pubDate>{{ episode.date }}</pubDate>
    <link>{{ episode.link }}</link>
    <guid>{{ episode.hash }}</guid>
    {% for enclosure in episode.enclosures %}
      <enclosure
        url="http://localhost:8080/ipfs/{{ enclosure.hash }}"
        length="{{ enclosure.len }}"
        type="{{ enclosure.type }}" />
    {% endfor %}
    <description>
      <!DOCTYPE html>
        <head>
          <title> {{ episode.title }} </title>
        </head>
        <body>
          <h1> {{ episode.title }} </h1>
          <p> {{ episode.desc }} </p>
        </body>
      </html>
    </description>
  </item>
  {% endfor %}

  {#
    This template is autogenerated by IPFSPod, a Python module to manage podcasts.
    It uses Jinja for templating - you can find a synopsis of the template language here:
    https://jinja.palletsprojects.com/en/2.11.x/templates/#synopsis

    There are three variables passed to this template:
    * `now`, the time as formatted for the RSS spec
    * `channel`, the content of channel.json, with attributes:
      * `title`
      * `description`
      * `link`
      * `copyright`
      * `language`
      * `managing_editor`
      * `ttl`
      * `key`, the IPNS key hash used for publishing this podcast
    * `episodes`, the content of episodes.json, as a list, with each element containing:
      * `title`
      * `description`
      * `link`
      * `author`
      * `categories`, a list of str
      * `date`
      * `hash`
      * `length`
      * `source`
      * `enclosures`, a list of dict, with each dict having:
        * `hash`, the IPFS hash of the attached file
        * `len`, the length of the file in bytes 
        * `type`, the mimetype of the file
    
    If you need reference documentation for RSS, it is available here:
    https://cyber.harvard.edu/rss/rss.html
  #}
</channel>
</rss>